
<!-- <h2 [style]="'background-color:powderblue;'">I am Prathmesh Patil</h2> -->

<!-- <h2 [style]="'background-color:powderblue; color:red;'">I am Prathmesh Patil</h2> -->

<!-- <h2 [style]="'backgroundColor:cornflowerblue;'">I am Prathmesh Patil</h2> -->

<!-- <h2 [style]="{'color':'orange', 'fontFamily':'cooper'}">I am Prathmesh Patil</h2>-->

<!-- <h2 [style]="myStyle">I am Prathmesh Patil</h2> -->

<!-- <h2 [style.color]="'blue'">I am Prathmesh Patil</h2> -->

<!-- <h2 [style.fontSize.px]="'40'">I am Prathmesh Patil</h2> -->.

<!-- <h2 [style.fontSize.px]="'40'" [style.backgroundColor]="'cornflowerblue'">I am Prathmesh Patil</h2> -->

<!-- <h2 [style.color]="condition ? 'red' : 'orange'">I am Prathmesh Patil</h2> -->

<h2 [ngStyle]="myStyle"> I am Prathamesh Patil</h2>